*.whl
*.npy
*.log
*.err
*.pkl
*.tar.gz
*.onnx
**/dataset/

*.caffemodel
*.caffeproto
**/__pycache__/
**/pd_model*
x2paddle.egg-info/

test_benchmark/Caffe/*/*.txt
test_benchmark/Caffe/*.txt

test_benchmark/PyTorch/*/*.txt
test_benchmark/PyTorch/*.txt

test_benchmark/ONNX/*/*.txt
test_benchmark/ONNX/*/*.pbtxt
test_benchmark/TensorFlow/*/*.txt
test_benchmark/TensorFlow/*/*.pbtxt

test_autoscan/*/*.txt
