*.whl
*.npy
*.log
*.err
*.pkl
*.tar.gz
**/dataset/

*.caffemodel
*.caffeproto
**/__pycache__/
**/pd_model_dygraph/
test_benchmark/Caffe/*/*.txt
test_benchmark/Caffe/*.txt

**/pd_model/
**/pd_model_trace/
**/pd_model_script/
test_benchmark/PyTorch/*/*.txt
test_benchmark/PyTorch/*.txt

test_benchmark/ONNX/*/*.txt
test_benchmark/ONNX/*/*.pbtxt
